.DS_Store
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.xml
*.xml
*.resources
workspace/.metadata/.plugins/org.eclipse.cdt.core/.log
workspace/.metadata/.log
workspace/.metadata/.plugins/org.eclipse.cdt.core/.log
*.xml
workspace/.metadata/.log
